body{
    background:linear-gradient(90deg,#b92b27,#1565c0);
}
.header{
    background: -webkit-linear-gradient(90deg,yellow,cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .5s ease-in-out;
    transform: scale(1);
}
.header:hover{
    transform: scale(1.1);
    filter: blur(1.5px) hue-rotate(360deg);
}
.formatting{
    font-size:25px;
    color:cyan;
}
hr{
    background:linear-gradient(to right,#1565c0,#b92b27);
}
#headers{
    text-align: center;
    padding-left:15px;
    padding-right:15px;
    display:flex;
    flex-direction: column;
    margin-right:30px;
    box-shadow: 0px 0px 15px 10px lime;
    transition: all .5s ease-in-out;
    transform: scale(1);
}
#headers:hover{
    transform: scale(1.1);
    filter:hue-rotate(360deg);
}
#up{
    display:flex;
    flex-direction: row;
}
#istiklalMarsi{
    display:flex;
    flex-direction: column;
    font-size:20px;
    color:white;
}
#format{
    margin-left: 30px;
    display:flex;
    flex-direction: column;
}
#idk{
    display: flex;
    flex-direction: column;
    /*color:rgb(122,89,225);*/
    color:rgb(198, 104, 252);
}
#mid{
    display:flex;
    flex-direction: column;
}
#mid2{
    display:flex;
    flex-direction: row;
}
.Ataturk{
    transform:scale(1);
    transition:transform 0.2s;
    filter:blur(0px) contrast(10);
}
.Ataturk:hover{
    transform:scale(1.1);
    filter:hue-rotate(360deg) drop-shadow(30px 10px 4px #4444dd);
}
#uygulama9{
    margin-left:20px;
    padding: 5px;
    color:#f3f315;
    box-shadow: 0px 0px 15px 10px orangered;
}
.speed{
    transform:scale(1);
    transition:transform 0.2s;
}
.speed:hover{
    transform:scale(1.1);
}
.marquee {
    margin-top: 10px;
    width: 95vw;
    line-height: 10px;
    font-size: 20px;
    background-color: transparent;
    color: yellow;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
}

.mqanim p {
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
#speed-spidey{
    display: flex;
    flex-direction: column;
}