#table{
    display:flex;
    flex-direction: row;
}
table,th,td{
    font-family: 'Times New Roman';
    font-size: 20px;
    border:5px solid gold;
    border-collapse:separate;
    border-style:inset;
}
th{
    text-align:center;
    
}
th,td{
    background-color:dodgerblue;
    border-style:outset;
}
th:nth-child(even),td:nth-child(even){
    background-color:orangered;
}
td:hover{
    background-color:darkgrey;
}
.cyan{
    border:5px inset #00ffff;
}
.rowspan3{
    background-color:springgreen;
}